@use 'sass:map';
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$breakpoints: (
  mobile: 350px,
  tablet: 720px,
  laptop: 1200px,
  desktop: 1520px,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  list-style-type: none;
  font-family: 'Libre Franklin', sans-serif;
}

.rt-footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}


